</br>
</br>
<center><h3>Bienvenue sur :</h3>
<center><h1>The Gossip Project</h1>
<h4>Voici les auteurs et leurs potins :</h4>
</br>

<%Gossip.all.each do |g|%>

<div class="card" style="width: 18rem; margin: 5px;">
  <div class="card-body">
    <h5 class="card-title">potin : <%=link_to "g.title", gossip_path(g.id)%></h5>
    <h6 class="card-subtitle mb-2 text-muted">auteur : <%=g.user.first_name%></h6>

</div>
</div>

<%end%></center>
</div>